<!DOCTYPE html>
<html>
  <head>
    <title>What's the Time?</title>
  </head>
  <body>
    <h1>The current time is:</h1>
    <!-- Display the time variable that is passed to the template -->
    <p><strong><%= time %></strong></p>
    <h2>You've been left the following message:</h2>
    <!-- Display the message variable that is passed to the template -->
    <p><strong><%= message %></strong></p>
  </body>
</html>
